/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo, nav .brand-name {
  color: #FFF;
}

p {
  line-height: 1.5rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.parallax-container {
  min-height: 380px;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.collection-item p {
  color: rgba(110, 110, 110, 1);
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.social-media span {
  margin: 0 0.5rem;
}

.social-media img {
  width: 3rem;
  height: 3rem;
}

.contact img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.custom-center {
  display: flex;
  flex-direction: column;
}
.custom-center li {
  display: flex;
  margin: 0.25rem auto;
}

.custom-center a {
  color: #fff;
}

#books a {
  color: #000000;
}

#books i {
  margin-right: 5px;
  border-radius: 4px;
}

@media only screen and (min-width : 993px) {
  #books ul {
    padding: 0 0 0 3rem;
  }
}

#books .empty-tiny {
  width: 14px;
  height: 14px;
}

.contact span {
  margin: auto 0;
}

.card {
  border-radius: 10px;
}

@media only screen and (min-width : 601px) {
  .card {
    height: 15rem;
  }

  .card-content {
    height: 100%;
  }
}

.black-shadow {
  text-shadow: 1px 1px #000000;
}
